<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "BaseUrl" value="https://seleniumbase.io/demo_page" />
		<add key="ApiBaseUrl" value="https://automationexercise.com" />

		<add key="ImplicitWaitSeconds" value="10" />
		<add key="ExplicitWaitSeconds" value="30" />

		<add key="Browser" value="Chrome" />
		<add key="DriverPath" value="path/to/chromedriver.exe" />
	</appSettings>
</configuration>